/*header*/
#logo {
    width: 200px;
    height: 200px;
}

header {
    background-image: url(img/pattern.png);
    background-repeat: repeat-x;
    background-size: 400px;
    background-color: #4EA0FF;
}
/*header */

#site-name{
    color:rgb(20, 179, 150);
}

#date {
    font-size: small;
}

.intestazione span{
    color: grey;
}

.highlights {
    background-color: yellow;
}

/*Table */
thead {
    background-color: #20a9ef;
    color: white;
}

.highlitght-row {
    background-color: #B1E5F2;
}

table {
    width: 100%;
    table-layout:fixed;
}
/*Table */

/*footer*/

footer h3{
    color: grey;
    font-size:medium;
}

footer div {
    width: 200px;
    height: 200px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

#addition1 {
    background-image: url(img/monitor.jpg);
}

#addition2 {
    background-image: url(img/graph.jpg);
}


/*footer*/
